.button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 8px 10px 12px;
  background-position: right center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Chathura', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Amatic SC', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 4rem;
  padding-bottom: 10px;
  padding-top: 10px;
}
h4 {
  font-size: 3rem;
  padding-bottom: 10px;
  padding-top: 10px;
}
p {
  line-height: 1.5;
  font-size: 3rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: inherit;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 0;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 2px dashed #C0C0C0;
  background-color: LIGHTCYAN;
}
@media (max-width: 500px) {
  header {
    margin: 0;
    width: 100%;
    flex-direction: column;
  }
}
header h1 {
  width: 100%;
  font-size: 15rem;
  align-content: center;
}
@media (max-width: 500px) {
  header h1 {
    font-size: 8rem;
  }
}
header nav {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  padding-top: 3%;
}
@media (max-width: 500px) {
  header nav {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  header nav .button {
    display: flex;
    justify-content: center;
    width: 90%;
  }
}
header nav a {
  text-decoration: none;
  color: black;
}
header nav a:hover {
  text-decoration: underline;
}
.welcome {
  border-bottom: 2px dashed #C0C0C0;
}
.welcome h2 {
  margin-top: 2%;
}
.button {
  margin: 10px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #FFF;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
  background-image: linear-gradient(to right, #2BC0E4 0%, #EAECC6 51%, #2BC0E4 100%);
}
.footer {
  width: 100%;
  height: 150px;
  margin: 0 auto;
  border-top: 2px dashed silver;
  background: LIGHTCYAN;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home {
  width: 98%;
}
.home h2 {
  padding-top: 3%;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-section {
    flex-direction: column;
    justify-content: center;
  }
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    width: 100%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
.home .content-section .img-content img {
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .content-section .img-content img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .home .content-section .img-content {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
@media (max-width: 500px) {
  .home .inverse-content {
    display: flex;
    flex-direction: column-reverse;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-pick {
    flex-direction: column;
  }
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .home .content-pick .destination {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 5%;
  }
  .home .content-pick .destination h4 {
    display: flex;
    justify-content: center;
  }
  .home .content-pick .destination p {
    display: flex;
    justify-content: center;
  }
  .home .content-pick .destination a.button {
    display: flex;
    justify-content: center;
    width: 90%;
  }
}
.home .content-pick .destination .button {
  margin: 10px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #FFF;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
  background-image: linear-gradient(to right, #2BC0E4 0%, #EAECC6 51%, #2BC0E4 100%);
}
